QPushButton::menu-indicator {
    width: 0px;
}

QPushButton#button_settings {
    background: transparent;
    width: 24px;
    height: 24px;
    image: url("resources/icons/dots.png");
}

QPushButton {
    background-color: rgb(93, 163, 252);
    color: white;
    border-radius: 10px;
    padding: 2px 15px;
}


QMenu{
    background-color: rgb(226, 225, 230);
    border-radius: 15px;
}

QMenu::item {
    color: rgb(47, 51, 55);
    border-radius: 5px;
    padding: 2px 15px;
    margin: 1px 5px;
}

QMenu::item:selected {
    background-color: rgb(93, 163, 252);
    color: white;
}

QMenu::separator {
    height: 1px;
    background: rgb(155, 155, 162);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
}


QComboBox QAbstractItemView {
    selection-background-color: rgb(93, 163, 252);
    background-color: rgb(226, 225, 230);
    color: rgb(47, 51, 55);
}

