
QPushButton#button_vk, QPushButton#button_tg, QPushButton#button_github {
    background: transparent;
    color: palette(window-text);
}

QPushButton#button_options {
    background: rgba(255, 255, 255, 0.1);
    width: 24px;
    height: 24px;
    image: url("resources/icons/dots.png");
}

QPushButton::menu-indicator {
    width: 0;
}


QPushButton {
    background-color: rgb(58, 124, 255);
    color: white;
    border-radius: 10px;
    padding: 2px 15px;
}


/* Drag and Drop Widget */
DragDropUploadWidget QPushButton#button_dragdrop {
    border-radius: 0;
    border: 3px dashed palette(window-text);
    background-color: palette(window);
    color: palette(window-text);
}

SelectedFileWidget QFrame#frame{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(33, 33, 33, 100);
}

SelectedFileWidget QLabel#label_file {
    color: white;
}
