QPushButton#page_0_button_github {
    background: transparent;
    border: none;
}

QPushButton#page_0_button_vk {
    background: transparent;
    border: none;
}

QPushButton#page_0_button_tg {
    background: transparent;
    border: none;
}

QCheckBox#page_2_check_box_columns {
    color: grey;
}

QLabel#page_3_label_shift {
    color: grey;
}

