
QPushButton#button_vk, QPushButton#button_tg, QPushButton#button_github {
    background: transparent;
    color: palette(window-text);
}

QPushButton#button_options {
    background: rgba(255, 255, 255, 0.1);
    width: 24px;
    height: 24px;
    image: url("icons:dots.png");
}

QPushButton::menu-indicator {
    width: 0;
}


QPushButton {
    background-color: rgb(58, 124, 255);
    color: white;
    border-radius: 10px;
    padding: 2px 15px;
}


/* Drag and Drop Widget */
DragDropUploadWidget QPushButton#button_dragdrop {
    border-radius: 0;
    border: 3px dashed palette(window-text);
    background-color: palette(window);
    color: palette(window-text);
}

SelectedFileWidget QFrame#frame{
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(33, 33, 33, 100);
}

SelectedFileWidget QLabel#label_file {
    color: white;
}


/* Progress bar */
QProgressBar {
    color: white;
    border-radius: 5px;
    background-color: rgba(33, 33, 33, 200);
    height: 5px;
    width: 200px;
    text-align: center;
}

QProgressBar::chunk {
    border-radius: 5px;
    background-color: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
    stop:0 rgba(106, 63, 213, 255), stop:1 rgba(237, 122, 128, 255));

}